
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#nprogress {
  position: relative;
  z-index: 9999999;
}

#nprogress .bar{
	background: #30b34d;
}

#nprogress .spinner-icon{
	border-top-color: #30b34d;
	border-left-color: #30b34d;
}